<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        

        <h3>My Authentication Page</h3>

        <h3>Hello</h3>
        <button type="submit"><a href="/signup">SignUp</a></button>
        <button type="submit"><a href="/signin">SignIn</a></button>


        <script scr="" async defer></script>
    </body>
</html>